﻿@namespace BoxfishExample
@inherits PanelComponent

<root>
	<Inventory />

	<div class="keybinds">
		<p>1 to 8 - Hotbar</p>
		<p>V - Noclip</p>
		<p>C - Thirdperson</p>
		<p>M1/M2 - Destroy/Place</p>
	</div>
</root>

@code {

}
